build*/
bin/
*.o
*.swp
inputfile/*
!inputfile/acetylene.xyz
!inputfile/6s8y.xyz
!inputfile/elements.txt
!inputfile/probetest*
.DS_store
*.dSYM/Contents/Info.plist
benchmark
*~
xcuserdata/
*.dSYM
tags
output/
test/
surface_map.dx
apptests/
.idea/
*.pyc
*/userupload/
