<div class="button-row">
  <a class="button download" 
    href="https://github.com/molovol/MoloVol/releases/download/v1.2.0.1/MoloVol_User_Manual_v1.2.pdf">
    User Manual
  </a> 
  <a class="button download"
    href="https://github.com/molovol/MoloVol/releases/download/v1.2.0.1/MoloVol_Quick_Start_Guide_v1.2.pdf">
    Quick Start Guide
  </a>
  <a class="button download"
    href="https://github.com/molovol/MoloVol/releases/download/v1.2.0.1/example_structure_input.zip">
    Example Structures
  </a>
</div>
