<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoloVol Web</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='static/safari-pinned-tab.svg') }}" color="#2380be"> 
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <meta name="msapplication-TileColor" content="#2380be">
  <meta name="theme-color" content="#2380be">
</head>
<body>
  <div class="wordmark">
    <img src="static/images/wordmark.png" alt="MoloVol wordmark" height="72">
    <p>{{ version }}</p>
  </div>

  <div class="disclaimer">
    <p>
      MoloVol Web allows you to conveniently use <a href="https://molovol.com">MoloVol</a>
      directly through your browser. 
      An equivalent desktop version that offers slightly more options is available for download 
      <a href="https://github.com/molovol/MoloVol/releases/tag/v{{ version | versionnumber}}">here</a>
      along with the user manual. 
      You can find a detailed ex&shy;pla&shy;na&shy;tion of the underlying algorithms in 
      <a href="https://doi.org/10.1107/S1600576722004988">this publication</a>. If you end up using MoloVol Web
      or the desktop app for your sci&shy;en&shy;ti&shy;fic work, make sure to cite the publication and 
      <u>specify the application version</u> (Version {{ version | versionnumber }}).
    </p>
  </div>
  
<form id="inputs" action="." method="post" enctype=multipart/form-data>

  <div class="file-upload">
    <label for="structure">
      {% if laststructure is none %}
      Upload a structure &ndash; 
      <i><small>Accepted formats: XYZ, PDB, or CIF file</small></i>
      {% else %}
      Use previously uploaded structure: <b>{{ laststructure | basename }}</b> <br>
        ... or upload new structure
      {% endif %}

    </label><br>
    <input type="file" name="structure" id="structure" accept=".xyz,.cif,.pdb"><br>
    
    <!--
      This hidden element allows using the previously uploaded structure file
    -->
    <input type="hidden" name="laststructure" id="laststructure"
           value="{{ laststructure if laststructure is not none else '' }}">
  </div>

  <!--
    Leaving out the option to upload a custom elements file. Only advanced users will
    ever use this feature and they can be expected to download the software for the extra
    features.
    If a similar feature is added to the web app, it should be simplified, like by allowing
    the user to change individual atomic radii in a table.
  -->

  <div class="parameters">
    <input type="text" id="radius" name="cli_radius" size="2" style="width: 10%"
           value="{{ inputdict.get('cli_radius', '1.2') if inputdict is defined else '1.2' }}"/>
    <label for="radius">Small probe radius in &Aring;ngstr&ouml;m </label><br>

    <input type="text" id="radius2" name="cli_radius2" size="2" style="width: 10%"
           value="{{ inputdict.get('cli_radius2', '') if inputdict is defined else '' }}"/>
    <label for="radius2">Large probe radius in &Aring;ngstr&ouml;m &ndash; 
      <i><small>Leave empty for single-probe mode</small></i></label><br>

    <input type="text" id="grid" name="cli_grid" size="2" style="width: 10%"
           value="{{ inputdict.get('cli_grid','0.2') if inputdict is defined else '0.2' }}">
    <label for="grid">Spatial resolution of the underlying grid in &Aring;ngstr&ouml;m</label><br>
  </div>

  <div class="options">
    <input type="checkbox" id="hetatm" name="cli_hetatm" disabled
      {% if (not inputdict) or ('cli_hetatm' in inputdict) %} checked {% endif %}>
    <label for="hetatm">Include HETATM &ndash; <i><small>PDB file option</small></i></label><br>
    
    <input type="checkbox" id="unitcell" name="cli_unitcell" disabled
      {% if 'cli_unitcell' in inputdict %} checked {% endif %}>
    <label for="unitcell">Analyze unit cell &ndash; <i
        ><small>requires PDB or CIF file with crystallographic information</small></i></label><br>
    
    <input type="checkbox" id="surface" name="cli_surface" 
      {% if 'cli_surface' in inputdict %} checked {% endif %}>
    <label for="surface">Calculate surface areas</label><br>
  </div>

  <div class="export">
    <h4>Generate files for download</h4>
    <!--all three options require -do for the path to output directory -->
    <input type="checkbox" id="export-report" name="cli_export-report"
      {% if 'cli_export-report' in inputdict %} checked {% endif %}>
    <label for="export-report">Generate report</label><br>

    <input type="checkbox" id="export-total" name="cli_export-total"
      {% if 'cli_export-total' in inputdict %} checked {% endif %}>
    <label for="export-total">Generate total surface map</label><br>
    
    <input type="checkbox" id="export-cavities" name="cli_export-cavities"
      {% if 'cli_export-cavities' in inputdict %} checked {% endif %}>
    <label for="export-cavities">Generate surface map for each cavity</label><br>
  </div>

  <div>
    <input type="submit"/>
  </div>
</form>

<script type = "text/javascript">
  // Lock checkboxes based on previously uploaded file
  window.onload = function(e) {
    evalFilename("{{ laststructure }}", false);
  }

  // Lock checkboxes based on newly uploaded file
  document.getElementById('structure').onchange = function(e) {
    var filename = document.getElementById('structure').value;
    evalFilename(filename, true);
  }

  function evalFilename(filename, newFile) {
    var extension = filename.match(/\.\w+$/gm);
    extension = extension[0].toLowerCase();
    switch (String(extension)){
      case '.pdb':
        lockCheckboxes(false,false);
        break;
      case '.xyz':
        lockCheckboxes(true,true);
        break;
      case '.cif':
        lockCheckboxes(true,false);
        break;
      default:
        lockCheckboxes(false,false);
        alert('File extension unknown.');
    }
    if (newFile){
      document.getElementById('hetatm').checked = true;
    }
  }

  function lockCheckboxes(htDisable, ucDisable) {
    document.getElementById('hetatm').disabled = htDisable;
    document.getElementById('unitcell').disabled = ucDisable; 
  }
</script>  


  {% if returnvalues is not none and returnvalues!="" %}
    <h4>Output</h4> 
  
    {% if resultslink is not none %}
      <a href="{{ resultslink }}">Download results</a><br><br>
    {% endif %}

    <div id="outputbox">
      <output name="result" for="inputs">
        <p>
        {% set printingTable = [] %}

        {% for row in returnvalues %}

          {% if not loop.first and not printingTable %}
          <br>
          {% endif %}

          {% if not printingTable %}

            {% if row | titleline %}

            <b> {{ row }} </b>

            {% elif row.startswith('Cavity ID') %}
              
              <!-- Paragraph ends, table begins -->

              {% if printingTable.append(True) %} {% endif %}
              </p>
              <table class="cavities">
                <tr>

                {% set headertop = row | tablesplit %}
                {% set headerbottom = loop.nextitem | tablesplit %}
                
                {% for header in headertop %}
                <th>{{header}}<br> {{ headerbottom[loop.index - 1] }}</th>
                {% endfor %}

                <tr>

            {% else %}

              {{ row }}

            {% endif %}

          {% else %} <!-- if printingTable -->

            {% if not loop.previtem.startswith('Cavity ID') %}
              
              {% set tablerow = row | tablesplit %}
              <tr>
                {% for col in tablerow %}
                <td>{{col}}</td>
                {% endfor %}
              </tr>
              
            {% endif %}
           
          {% endif %}

        {% endfor %}

        <!-- If a table was started, it must be ended -->
        {% if printingTable %}
        </table>
        {% endif %}
        
      </output>
    </div>
  {% endif %}

      
<footer>
  &copy; 2022 Molovol Web is brought to you by 
    <a href="https://benediktsvogler.com">Benedikt S. Vogler</a> based on
    <a href="https://molovol.com">Molovol Desktop</a> by Jasmin B. Maglic and Roy Lavendomme.
  <br>
  &copy; 2020-2022 The MoloVol logo and wordmark were designed by Jasmin B. Maglic
</footer>
</body>
</html>

