<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MoloVol Web GUI</title>
  <style>#outputbox {
    border: 1px solid #ccc;
  }</style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}">
</head>
<body>
  <div class="wordmark">
    <img src="static/images/wordmark.png" alt="MoloVol wordmark" height="72">
    <p>{{ version }}</p>
  </div>

<form id="inputs" action="." method="post" enctype=multipart/form-data>

  <div class="file-upload">
    <label for="structure">Upload a structure &ndash; 
      <i><small>Accepted formats: XYZ, PDB, or CIF file</small></i></label><br>
    <input type="file" name="structure" id="structure" accept=".xyz,.cif,.pdb"><br>
  </div>

    <!--
      Leaving out the option to upload a custom elements file. Only advanced users will
      ever use this feature and they can be expected to download the software for the extra
      features.
      If a similar feature is added to the web app, it should be simplified, like by allowing
      the user to change individual atomic radii in a table.
    -->

    <input type="hidden" name="laststructure" id="laststructure"
           value="{{ inputdict.get('laststructure', '') if inputdict is defined else '' }}">
    <!-- Todo add dropdown to reuse last uploaded file
    <input type="text" id="path-structure" name="file-structure" placeholder="path" value="{{inputdict.get('file-strucutre','')}}"><label for="path-structure">Path to the
    structure file</label><br>
    <input type="text" id="path-elements" name="file-elements" placeholder="path" value="{{inputdict.get('file-elements','')}}"><label for="path-elements">Path to the elements
    file</label><br>-->
    <!--<input type="text" id="dir-output" name="dir-output" placeholder="path -do"
           value="{{inputdict.get('dir-output','')}}"><label for="dir-output">Path to the directory
    output</label><br>-->

  <div class="parameters">
    <input type="text" id="radius" name="cli_radius" size="2" style="width: 20%"
           value="{{ inputdict.get('radius', '1.2') if inputdict is defined else '1.2' }}"/>
    <label for="radius">Small probe radius in &Aring;ngstr&ouml;m </label><br>

    <input type="text" id="radius2" name="cli_radius2" size="2" style="width: 20%"
           value="{{ inputdict.get('radius2', '') if inputdict is defined else '' }}"/>
    <label for="radius2">Large probe radius in &Aring;ngstr&ouml;m &ndash; 
      <i><small>Leave empty for single-probe mode</small></i></label><br>

    <input type="text" id="grid" name="cli_grid" size="2" style="width: 20%"
           value="{{ inputdict.get('grid','0.2') if inputdict is defined else '0.2' }}">
    <label for="grid">Spatial resolution of the underlying grid in &Aring;ngstr&ouml;m</label><br>
  </div>

  <div class="options">
    <input type="checkbox" id="hetatm" name="cli_hetatm" checked disabled>
    <label for="hetatm">Include HETATM &ndash; <i><small>PDB file option</small></i></label><br>
    
    <input type="checkbox" id="unitcell" name="cli_unitcell" disabled>
    <label for="unitcell">Analyze unit cell &ndash; <i
        ><small>requires PDB or CIF file with crystallographic information</small></i></label><br>
    
    <input type="checkbox" id="surface" name="cli_surface">
    <label for="surface">Calculate surface areas</label><br>
  </div>

  <div class="export">
    <h4>Generate files for download</h4>
    <!--all three options require -do for the path to output directory -->
    <input type="checkbox" id="export-report" name="cli_export-report">
    <label for="export-report">Generate report</label><br>

    <input type="checkbox" id="export-total" name="cli_export-total">
    <label for="export-total">Generate total surface map</label><br>
    
    <input type="checkbox" id="export-cavities" name="cli_export-cavities">
    <label for="export-cavities">Generate surface map for each cavity</label><br>
  </div>

  <div>
    <input type="submit"/>
  </div>
</form>

<script type = "text/javascript">
  document.getElementById('structure').onchange = function(e) {
    var filename = document.getElementById('structure').value;
    var extension = filename.match(/\.\w+$/gm);
    extension = extension[0].toLowerCase();
    switch (String(extension)){
      case '.pdb':
        lockCheckboxes(false,false);
        break;
      case '.xyz':
        lockCheckboxes(true,true);
        break;
      case '.cif':
        lockCheckboxes(true,false);
        break;
      default:
        lockCheckboxes(false,false);
        alert('File extension unknown.');
    }
  }

  function lockCheckboxes(htDisable, ucDisable) {
    document.getElementById('hetatm').disabled = htDisable;
    document.getElementById('unitcell').disabled = ucDisable; 
  }
</script>  


{% if returnvalues is not none and returnvalues!="" %}
    <h2>Output</h2>
    {% if resultslink is not none %}
        <a href="{{ resultslink }}">Download results</a><br><br>
    {% endif %}
    <div id="outputbox">
        <output name="result" for="inputs">
            {% for row in returnvalues %}
                {{ row }}<br>
            {% endfor %}
        </output>
    </div>
{% endif %}

<footer>
  &copy; 2022 Molovol Web is brought to you by 
    <a href="https://benediktsvogler.com">Benedikt S. Vogler</a> based on
    <a href="https://molovol.com">Molovol Desktop</a> by Jasmin B. Maglic and Roy Lavendomme.
  <br>
  &copy; 2020-2022 The MoloVol logo and wordmark were designed by Jasmin B. Maglic
</footer>
</body>
</html>

