---
---

@import "{{ site.theme }}";

:root{
  --sans-font:-apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,Noto,"Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  --mono-font:Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  --bg:#fff;
  --accent-bg:#f5f7ff;
  --text:#212121;
  --border:#d8dae1;
  --dark:#222;
  --mvl-blue:#2380be;
  --mvl-cream:#ffeba9;
  --off-mvl-blue:#1a96e9;
}

html{
  height:100%;
}

html, body{
  padding: 0;
  margin: 0;
}

body{
  color:var(--text);
  background:var(--bg);
  line-height:1.5;
  background-image: url('/docs/assets/images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0px; /* needed to suppress ugly frame */
  height:100%;
}

body>*{
  grid-column:2;
}

body>header{
  background:var(--accent-bg);
  border-bottom:1px solid var(--border);
  text-align:center;
  padding:0 .5rem 2rem .5rem;
  grid-column:1/-1;
  box-sizing:border-box;
}

.wrapper {
  display: flex;
  width: auto;
  min-height:100%;
}

section{
  padding: 0 60px 100px 60px;
  box-shadow: 0px 0px 5px 0px;
  background: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  min-height:100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--sans-font);
  color:var(--text);
}

h1{
  font-size:3rem;
}

h2{
  font-size:2.6rem;
  margin-top:2rem;
}

h3{
  font-size:2rem;
  margin-top:2rem;
}

h4{
  font-size:1.3rem;
  margin-bottom:1rem;
  margin-top:0;
}

h5{
  font-size:1.15rem;
}

h6{
  font-size:.96rem;
}

h1,h2,h3{
  line-height:1.1;
}

h1,h2,h3,h4,h5,h6{
  text-align:center;
}

a, a:visited{
  color: var(--mvl-blue);
  font: var(--sans-font);
}

a:any-link{
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

p{
  font-family: var(--sans-font);
  text-align: justify;
}

blockquote>p{
  text-align: start;
}

.title{
  margin-top:2rem;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
}

#wordmark-container{
  text-align:center;
}

a.button {
  display:inline-block;
  text-align: center;
  text-decoration: none; /* no underline */
  background-color: var(--mvl-blue);
  color:white;
  padding: 5px 24px;
  min-width:120px;
  min-height:21px;
  border-radius: 6px;
  border: 1px solid transparent;
}

a.button:hover {
  background-color: white;
  color: var(--mvl-blue);
  border: 1px solid var(--mvl-blue);
}

//.button{
//  a{
//    text-decoration: none;
//    color: var(--bg);
//  }
//  ul{
//    position: static;
//    padding: 0;
//  }
//  li{
//    width: 148px;
//    padding: 10px 0px;
//  }
//}

header li {//, .button li{
  background: linear-gradient(to top, var(--off-mvl-blue) 0%, var(--mvl-blue) 100%);
  box-shadow: inset 0px 1px 1px 0 var(--mvl-blue);
  height: 100%;
  line-height: 1em;
  padding: 6px 6px 6px 7px;
  border-radius: 4px;
  border: 1px solid var(--mvl-blue);
  list-style-type: none;
}

//.button li{
//  max-width: 80%;
//}

header li:hover {//, .button li:hover{
  background: linear-gradient(to top, var(--off-mvl-blue) 0%, var(--off-mvl-blue) 100%);
}

div.download{
  margin: 1.5rem 0rem 0rem 0.5rem;
  ul{
    margin: 0 0 0;
  }
}

.link ul{ 
  text-align: center;
  //li a.buttons{
  //  padding: 2px 2px 2px 2px;
  //  background: none;
  //}
}

a.github{
  text-decoration: none;
  color: var(--bg);
}

//a.buttons{
//  line-height: 1.2;
//}

h1.header{
  font-family: var(--sans-font);
  font-weight: bold;
}

footer p, header p{
  text-align: start;
}

table{
  table-layout: fixed;
  width: 100%;
}

table.invisible{
  margin: 0 0 0 0;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

table.invisible tbody tr td{
  background: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
  text-align: center;
}

td{
  background: var(--accent-bg);
  text-align: center;
}

#changelog{
  h1{
    font-weight: bold;
    font-size: 1.0rem;
    margin: 12px 0 4px;
    border-bottom: none;
  }
  li{
    font-size: 0.8rem;
  }
  background: var(--bg);
  padding: 0rem 0.5rem 0rem 0.8rem;
  border: 1px solid var(--border);
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  border-radius: 4px;
}

.highlight{
  border-radius: 4px;
}

.center-img {
  text-align:center;
  img {
    border-style: none;
  }
}

// SIDE BAR
// .wrapper header h1{
//   font-size:1.6rem;
// }
// 
// .wrapper header p{
//   font-size:0.9rem;
// }
// SIDE BAR

// NAVIGATION
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 24px;
  min-width:84px;
  text-decoration: none;
}

#platform-container{
  display: flex;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
}


.navbar li .highlighted {
  color: white;
  background-color: var(--mvl-blue);
  padding: 3px 24px;
  border-radius: 4px;
  margin: 11px 10px;
}

.navbar li a:hover, .navbar li .navtab.active{
  // style when hovering over a navigation tab or when a navigation tab is active
  background-color: var(--mvl-blue);
}

.navbar li .highlighted:hover {
  background-color: white;
  color: var(--mvl-blue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

// Display drop down
.dropdown:hover .dropdown-content {
  display: block;
}
// NAVIGATION

// CARDS
.card-container {
  display: inline-flex;
  width: 100%;
  gap: 12px; /* Space between the cards */
}

.card {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease;
  padding: 0;
  margin: 0;
}

.card img {
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  background: white;
  filter: brightness(60%);
  transition: filter 0.5s ease;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  transition: opacity 0.5s ease;
}

.card:hover .card-title {
  opacity: 0.0;
}

.card:hover img{
  filter: brightness(100%);
}

.card a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
// CARDS

// FOOTER
footer{
  width:100%;
  padding:0px;
  position:fixed;
  bottom: 0;
  margin: 0;
}

#footer-container{
  width:100%;
  display:flex;
  background-color:var(--dark);
  padding-top: 20px;
  padding-bottom: 0px;
}

#footer-container p{
  text-align:center;
  color:rgb(180, 180, 180);
  width:60%;
  margin-left: auto;
  margin-right: auto;
}
// FOOTER
