---
---

@import "{{ site.theme }}";

:root{
  --sans-font:-apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,Noto,"Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  --mono-font:Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  --bg:#fff;
  --accent-bg:#f5f7ff;
  --text:#212121;
  --text-light:#585858;
  --border:#d8dae1;
  --primary:#2380be;
  --accent-primary:#1a96e9;
  --code:#d81b60;
  --preformatted:#444;
  --marked:#ffdd33;
  --disabled:#efefef;
}

body{
  color:var(--text);
  background:var(--bg);
  line-height:1.5;
  background-image: url('/docs/assets/images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body>*{
  grid-column:2;
}

body>header{
  background:var(--accent-bg);
  border-bottom:1px solid var(--border);
  text-align:center;
  padding:0 .5rem 2rem .5rem;
  grid-column:1/-1;
  box-sizing:border-box
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--sans-font);
  color:var(--text);
}

h1{
  font-size:3rem;
}

h2{
  font-size:2.6rem;
  margin-top:2rem;
}

h3{
  font-size:2rem;
  margin-top:2rem;
}

h4{
  font-size:1.3rem;
  margin-bottom:1rem;
}

h5{
  font-size:1.15rem;
}

h6{
  font-size:.96rem;
}

h1,h2,h3{
  line-height:1.1;
}

a, a:visited{
  color: var(--primary);
  font: var(--sans-font);
}

a:any-link{
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

p{
  font-family: var(--sans-font);
  text-align: justify;
}

blockquote>p{
  text-align: start;
}

.title{
  margin-top:2rem;
}

.button{
  a{
    text-decoration: none;
    color: var(--bg);
  }
  ul{
    position: static;
    padding: 0;
  }
  li{
    width: 148px;
    padding: 10px 0px;
  }
}

header li, .button li{
  background: linear-gradient(to top, var(--accent-primary) 0%, var(--primary) 100%);
  box-shadow: inset 0px 1px 1px 0 var(--primary);
  height: 15px;
  line-height: 1em;
  padding: 6px 6px 6px 7px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  list-style-type: none;
}

header li:hover, .button li:hover{
  background: linear-gradient(to top, var(--accent-primary) 0%, var(--accent-primary) 100%);
}

div.download{
  margin: 1.5rem 0rem 0rem 0.5rem;
  ul{
    margin: 0 0 0;
  }
}

.link ul{ 
  text-align: center;
  li a.buttons{
    padding: 2px 2px 2px 2px;
    background: none;
  }
}

a.github{
  text-decoration: none;
  color: var(--bg);
}

h1.header{
  font-family: var(--sans-font);
  font-weight: bold;
}

footer p, header p{
  text-align: start;
}

table{
  table-layout: fixed;
}

table.invisible{
  margin: 0 0 0 0;
  border: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

table.invisible tbody tr td{
  background: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: none;
  text-align: left;
}

td{
  background: var(--accent-bg);
  text-align: center;
}

td>a{
  font-weight: bold;
}

#changelog{
  h1{
    font-weight: bold;
    font-size: 1.0rem;
    margin: 12px 0 4px;
    border-bottom: none;
  }
  li{
    font-size: 0.8rem;
  }
  background: var(--accent-bg);
  padding: 0rem 0.5rem 0rem 0.8rem;
  border: 1px solid var(--border);
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

