[Desktop Entry]
Type=Application
Name=MoloVol
Exec=molovol
Comment=Molecular volumes and surfaces
Encoding=UTF-8
Icon=molovol
Categories=Science
Terminal=false
