<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="/assets/js/activateTab.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>

    <nav>
      <ul class="navbar">
        <li><a class="navtab" id="nav-home" href="{{ '/' | relative_url }}">Home</a></li>
        <li><a class="navtab" id="nav-news" href="{{ '/news' | relative_url }}">News</a></li>
        <li><a class="navtab" id="nav-source" href="{{ '/source' | relative_url }}">Source Code</a></li>
        <li><a class="navtab" id="nav-showcase" href="{{ '/showcase' | relative_url }}">Showcase</a></li>
        <li><a class="navtab" id="nav-contact" href="{{ '/contact' | relative_url }}">Support</a></li>
        <li style="float:right"><a class="highlighted" href="{{ '/webapp' | relative_url }}">Web App</a></li>
        <li style="float:right"><a class="highlighted" href="{{ '/download' | relative_url }}">Download</a></li>
      </ul>
    </nav>


    <div class="wrapper">
<!--      <header>
        <h1 class="header">Source Code</h1>
        <p class="header">MoloVol is open source, meaning that its source code is publically accessible.</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="{{ site.github.zip_url }}">Download ZIP</a></li>
            <li class="download"><a class="buttons" href="{{ site.github.tar_url }}">Download TAR</a></li>
          {% endif %}
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
          <div class="button link">
            <a class="buttons" href="#download">Download</a>
          </div>
        </ul>

        {% if site.github.is_project_page %}
        <p class="header">Developed and maintained by Jasmin B. Maglic and Roy Lavendomme.</p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>
-->
      <section>
        <div id="wordmark-container">
          <img class="title" src="/docs/assets/images/wordmark.png" alt="MoloVol" height="72">
        </div>
        {{ content }}
      </section>

      <footer>
        <div id=footer-container>
          <p>
          This website is managed by Jasmin B. Maglic.<br>
          MoloVol is developed and maintained by Roy Lavendomme 
          and Jasmin B. Maglic. Contact us via <a href="mailto:molovol@outlook.com">molovol@outlook.com</a>
          </p>
        </div>
      </footer>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>

<!--Adapted from Dinky theme in accordance to its CC0 1.0 Universal license-->
