aaaa ICON "icon.ico"

#include "windows.h"
#include "wx/msw/wx.rc"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      1,2,0,0
  PRODUCTVERSION   1,2,0,0
  FILETYPE         VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
    {
      VALUE "Build",            "February 2025\0"
      VALUE "CompanyName",      "MoloVol Development\0"
      VALUE "FileDescription",  "Calculate volumes and surface areas of chemical structures\0"
      VALUE "FileVersion",      "1.2.0.0\0"
      VALUE "InternalName",     "MoloVol\0"
      VALUE "LegalCopyright",   "Copyright (c) 2020-2025 Jasmin B. Maglic, Roy Lavendomme\0"
      VALUE "OriginalFilename", "MoloVol.exe\0"
      VALUE "ProductName",      "MoloVol\0"
      VALUE "ProductVersion",   "1.2.0.0\0"
      VALUE "Support",          "molovol@outlook.com, https://molovol.com, https://github.com/molovol/MoloVol\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  }
}
